---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [58]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [59]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [60]:
def answer_one():
    answer = df[df['Gold'] == df['Gold'].max()]
    
    country_answ = (answer.iloc[0].name)
    return country_answ
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [210]:
def answer_two():
    df['diff'] = df['Gold'] - df['Gold.1']
    answer = df[df['diff'] == df['diff'].max()]
    country_answ = (answer.iloc[0].name)
    return country_answ
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [72]:
def answer_three():
    new_df = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    #answer = new_df[new_df['# Summer'] == new_df['# Summer'].min()]
    new_df['change_in_per'] = (new_df['Gold'] - new_df['Gold.1'])/(new_df['Gold.2'])
    #print(new_df.head())
    answer = new_df[new_df['change_in_per'] == new_df['change_in_per'].max()]
    country_answ = (answer.iloc[0].name)
    return country_answ
answer_three()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [109]:
def answer_four():
    p = 3*df['Gold.2'] + 2*df['Silver.2'] + 1*df['Bronze.2']
    Points = pd.Series(p.index)
    return Points
answer_four()

0                           Afghanistan
1                               Algeria
2                             Argentina
3                               Armenia
4                           Australasia
5                             Australia
6                               Austria
7                            Azerbaijan
8                               Bahamas
9                               Bahrain
10                             Barbados
11                              Belarus
12                              Belgium
13                              Bermuda
14                              Bohemia
15                             Botswana
16                               Brazil
17                  British West Indies
18                             Bulgaria
19                              Burundi
20                             Cameroon
21                               Canada
22                                Chile
23                                China
24                             Colombia
25                           Costa Rica
26                          Ivory Coast
27                              Croatia
28                                 Cuba
29                               Cyprus
                     ...
116                               Spain
117                           Sri Lanka
118                               Sudan
119                            Suriname
120                              Sweden
121                         Switzerland
122                               Syria
123                      Chinese Taipei
124                          Tajikistan
125                            Tanzania
126                            Thailand
127                                Togo
128                               Tonga
129                 Trinidad and Tobago
130                             Tunisia
131                              Turkey
132                              Uganda
133                             Ukraine
134                United Arab Emirates
135                       United States
136                             Uruguay
137                          Uzbekistan
138                           Venezuela
139                             Vietnam
140                      Virgin Islands
141                          Yugoslavia
142    Independent Olympic Participants
143                              Zambia
144                            Zimbabwe
145                          Mixed team
dtype: object

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [93]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [165]:
def answer_five():
    all_countries = census_df[census_df['SUMLEV'] == 50]
    answer_df = all_countries.groupby(['STNAME']).count()['REGION']
    my_answer = answer_df[answer_df == answer_df.max()].index[0]

    return my_answer
answer_five()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [170]:
def answer_six():
    all_countries = census_df[census_df['SUMLEV'] == 50]
    l_df = all_countries.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)
    s_df = l_df.groupby('STNAME').sum().sort_values(by=['CENSUS2010POP'],ascending=False)
    #print(s_df)
    answer = s_df.head(3).index.tolist()
    return answer
answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [221]:
def answer_seven():
    all_countries = census_df[census_df['SUMLEV'] == 50]
    all_countries['max_val'] = all_countries[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012',
                                     'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)
    all_countries['min_val'] = all_countries[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012',
                                     'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
    all_countries['largest_change'] = all_countries['max_val'] - all_countries['min_val']
    answer = all_countries['CTYNAME'][all_countries['largest_change']== all_countries['largest_change'].max()].tolist()[0]
     
    return answer
answer_seven()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [236]:
def answer_eight():
    all_countries = census_df[census_df['SUMLEV'] == 50]
    all_countries = all_countries[(((all_countries['REGION'] == 1)|(all_countries['REGION'] == 2)) & 
                                  ((all_countries['POPESTIMATE2015'] - all_countries['POPESTIMATE2014']) > 0 ) &
                                  (all_countries['CTYNAME'].str.startswith('Washington')))]
    answer = all_countries[['STNAME', 'CTYNAME']]
    
    return answer
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County